.container__filter_search {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter__container {
  gap: 16px;
  display: flex;
  max-width: 1024px;
  justify-content: space-between;

  flex-direction: column;
  padding: 0 16px;
}

.form__input {

  height: 56px;

  border: 1px solid var(--grey, rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row-reverse;
  gap: 8px;
  padding: 0 16px;
}

.filter__input {
  padding: 0;
  border: 0;
  height: 24px;
  outline: none;
}

.button__search {
  background-color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0;
}

.filter__selected {
  width: 100%;
  height: 56px;
  border: 1px solid var(--grey, rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  padding: 0 16px;
  cursor: pointer;
  background-repeat: no-repeat ;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_496_70)'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='black' fill-opacity='0.54'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_496_70'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right 16px; 

}


.error_message {
  font-family: roboto, sans-serif;
  height: 40px;
  width: 100%;
  background-color: #ffe6e6;

  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4c4c;
  border: solid 1px #ff4c4c;
  border-radius: 4px;
}


.button_open_filter{
  cursor: pointer;
  display: flex;
  width: 312px;
  height: 56px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: var(--primary-50, #E3F2FD);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  border: none;
  color: var(--primary-500-accent, #2196F3);
  text-align: center;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  gap: 24px;
}


.container_select-mobile{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.arrow__down{
  width: 24px;
  height: 24px;
  display: flex;
}

@media (min-width: 768px) {
  .form__input{
    max-width: 240px;
  }
  .filter__container{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
    gap: 0px;
  }

  .filter__selected{
    max-width: 240px;
  }

}