.container__filter_search {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter__container {
  width: 100%;
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
}

.form__input {
  max-width: 240px;
  height: 56px;

  border: 1px solid var(--grey, rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row-reverse;
  gap: 8px;
  padding: 0 16px;
}

.filter__input {
  padding: 0;
  border: 0;
  height: 24px;
  outline: none;
}

.button__search {
  background-color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0;
}

.filter__selected {
  width: 100%;
  max-width: 240px;
  height: 56px;

  border: 1px solid var(--grey, rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  padding: 0 16px;
  cursor: pointer;
}

.error_message {
  font-family: roboto, sans-serif;
  height: 40px;
  width: 100%;
  background-color: #ffe6e6;

  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4c4c;
  border: solid 1px #ff4c4c;
  border-radius: 4px;
}
